<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNgParametersSuite" parallel="false" thread-count="3">
    <parameter name="userId" value="2"></parameter>
    <test name="TestNgParametersTest">
        <classes>
            <class name="integration.ClientTest"/>
        </classes>
    </test>
</suite>